@import "tailwindcss";

@theme {
  --color-chocolate: #D96E04;
  --color-teal: #076272;
  --color-sandy: #E8B085;
  --color-cinnamon: #C57A50;
  --color-ash: #715F51;
  --color-cyan: #009CB6;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
}